<section class="card-container">
    <div class="card">
        <div class="card-image">
            {{#each galeria1}}
            <img src={{direccion}} alt={{alt}}>
            {{/each}}
        </div>
        <div class="card-title">
            <h2>Prohibiciones</h2>
        </div>
        <div class="body">
            <p>Hay leyes vigentes en el país de Honduras que prohibe la exportación de animales vivos.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            {{#each galeria2}}
            <img src={{direccion}} alt={{alt}}>
            {{/each}}
        </div>
        <div class="card-title">
            <h2>Demandas</h2>
        </div>
        <div class="body">
            <p>¿Sabías que en casi el 98% del país existe el maltrato animal? En su mayoría, los dueños huyen o no se presentan a las demandas
                y es cuando se procede con la captura de los responsables por no saber las leyes que protegen a los animales.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            {{#each galeria3}}
            <img src={{direccion}} alt={{alt}}>
            {{/each}}
        </div>
        <div class="card-title">
            <h2>Días internacionales</h2>
        </div>
        <div class="body">
            <p>Honduras se caracteriza por ser rico en flora y fauna, sobre todo las exoticas especies de animales 
                que encontramos en todo el territorio.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            {{#each galeria4}}
            <img src={{direccion}} alt={{alt}}>
            {{/each}}
        </div>
        <div class="card-title">
            <h2>Cosas que no sabías</h2>
        </div>
        <div class="body">
            <p>En los pueblos del territorio Hondureño, han usado los caballos como transporte, sin emabrgo, son especies
                que necesitan de un cuidado especial para que no se considere una falta de ética para los derechos de los
                animales.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            {{#each galeria5}}
            <img src={{direccion}} alt={{alt}}>
            {{/each}}
        </div>
        <div class="card-title">
            <h2>Tráfico</h2>
        </div>
        <div class="body">
            <p>Es incontrolable el tráfico de canes en nuestro país, la unica manera de poder llegar a
                un punto de cambio es cuando tú decides no formar parte de los que hacen el trafico y la 
                sobrepoblación de canes.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            {{#each galeria6}}
            <img src={{direccion}} alt={{alt}}>
            {{/each}}
        </div>
        <div class="card-title">
            <h2>Conciencía</h2>
        </div>
        <div class="body">
            <p>Los animales son similares a nosotros, ellos tambien respiran, comen, corren, se comunican
                y sin fin de cosas que los humanos tambien hacemos, ellos viven. ¡No los abandones!    
            </p>
        </div>
    </div>

</section>